.header2{
    background-image: url('../images/fundoDe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    object-fit: cover;
}






   



